<div class="container">

  <hr>
  <p appBasicHighlight> Style me with basic directive</p>
  <p appBetterHighlight> Style me with better directive</p>

  <app-cockpit
    (srvCreated)="onServerAdded($event)"
  ></app-cockpit>

  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement">
        <p><strong>{{serverElement.content}} </strong></p>
      </app-server-element>
    </div>
  </div>
</div>
