<!--STRING INTERPOLATION-->
<h3>Hi I am in server component {{serverId}}.</h3>

<h4> DATA BINDING EXAMPLE</h4>
<!--PROPERTY BINDING AND EVENT BINDING-->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">
  Add Server
</button>

<!--<p>{{serverCreateStatus}}</p>-->

<p *ngIf= "serverCreated; else noServer">Server was created. Server Name is {{serverName}}</p>

<ng-template #noServer>
  <p> No Server was created</p>
</ng-template>

<label>
  <input type="text" [(ngModel)]="serverName"/>
  <!--         (input)="updateValue({e : $event})"-->
  <p> Server Name : {{serverName}} </p>
</label>

<br>

<label>
  <input [(ngModel)]="username"/>
 Username : <p>{{username}}</p>
</label>

<button class="btn btn-primary"
        [disabled]="username === ''"
        (click)="onUsernameReset()">
  Reset username
</button>
<br/>

